[Unit]
Description = MPD Scribbler

[Service]
ExecStart = /usr/bin/mpdscribble -D --conf /home/ubermenschjo/.mpdscribble/mpdscribble.conf
Restart = always

[Install]
WantedBy = default.target
