setxkbmap -option terminate:ctrl_alt_bksp &
xsetroot -cursor_name left_ptr &

usermodmap=$HOME/.Xmodmap
userresources=$HOME/.Xresources.zenburn

if [ -f "$userresources" ]; then
    xrdb -merge "$userresources"
fi

if [ -f "$usermodmap" ]; then
    xmodmap "$usermodmap"
fi
# start some nice programs
if [ -d /etc/X11/xinit/xinitrc.d ] ; then
	for f in /etc/X11/xinit/xinitrc.d/* ; do
		[ -x "$f" ] && . "$f"
	done
	unset f
fi

/usr/lib/systemd/systemd --user &

[ -f /etc/xprofile ] && . /etc/xprofile
#[ -f $HOME/.xprofile ] && . $HOME/.xprofile
[ -f $HOME/.xrandrrc ] && . $HOME/.xrandrrc

eval $($HOME/.fehbg)



ibus-daemon -x -r -d &
syndaemon -k -i 2 -d &
urxvtd &
udiskie &
autocutsel -fork &
autocutsel -selection PRIMARY -fork &
dropboxd &
